/* Styling for grid-sketch */

body {
	background-color: #f0f0ff;
	text-align: center;
}

button {
	margin-bottom: 20px;
}

.container {
	position: relative;
	margin: 0 auto;
	width: 750px;
	height: 750px;
	background-color: white;
	border: 1px solid black;
	line-height: 0%;
}

.highlighted {
	background-color: yellow;
}

